{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
{% load office_tag %}
<div>
    welcome - {{e.name}}
</div>

{% include 'include/office/office_menu.html' %}


<style>
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 10px;
        justify-content: center;

    }
    .bill_box{
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
    }
    .flex{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
</style>

<style>
    .total_box{
        width: 350px;
        display: grid;
        margin: 0   auto;
        padding: 5px;
        grid-template-columns: repeat(2, 1fr);

        div{
            border:1px solid black;
            text-align: center;
        }
        .total {

            font-weight: 500;
            grid-column-start:1 ;
            grid-column-end:3 ;

        }
        .heading{
            text-align: center;
            font-weight: 500;
            grid-column-start:1 ;
            grid-column-end:3 ;

        }
    }
</style>
<div class="total_box">
<div class="heading">शेतकरी देणे बाकी बिल</div>
    {% for u in all_users %}
        <div>{{u.name}}</div>
        <div style="border-left: none;">{% user_pending_bill_amount u.id %}</div>
    {% endfor %}
    <div class="total">एकून {{total}} </div>
</div>

<br><br>

<div class="container">
    
    {% for b in bill %}
        <div class="bill_box" {% if b.paid_status == 0 %} style="border-color: red;"{% else %} style="border-color: rgb(0, 255, 34);"{% endif %}>
            <div class="flex">बिल नंबर  - <b>{{b.bill_number}}</b></div>
            <div class="flex">
                <a style="color: black;text-decoration: none; font-weight: 700;" href="{% url 'money_farmer_details' b.farmer.id %}"><div>{{b.farmer.name}}</div></a>
            </div>
            <div class="flex">
                <div><b>Rs.{{b.total_amount}}</b></div>
                <div>{{b.date}}</div>
            </div>
            <div class="flex">
                <div>By - {{b.office_employee.name}}</div>
            </div>
            <div class="flex">
                <a href="/office/view_farmer_bill/{{b.id}}" class="btn btn-success">View</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{b.id}}">Edit</button>
                <a href="{% url 'money_farmer_details' b.farmer.id %}" class="btn btn-primary">Pay</a>
            </div>
        </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{b.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Configration</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="location.reload()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{b.id}}">
                <div class="mb-3">
                    <input type="password" class="form-control mb-2" name="pin" placeholder="Enter Edit Pin">
                    <button class="btn btn-danger" type="submit" name="check_pin">Submit</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="location.reload()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}

</div>

{% endblock content %}