{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
{% load office_tag %}
<div>
    welcome - {{e.name}}
</div>

{% include 'include/office/office_menu.html' %}

{% user_pendding_all_amount e.shope_id %}

<br>

<style>
    .farmer_box{
        gap: 10px;
        border-collapse:collapse;
        border:1px solid #000000;
        margin-bottom: 10px;
        .flex{
            display:  flex;
            justify-content: space-evenly;
        }
    }
</style>

<div class="container">
    {% for f  in remaining_farmer %}
    <div class="farmer_box">
        <a href="{% url 'money_farmer_details' f.id %}">
        <div class="flex">
            <div><b>{{f.name}}  <b class="btn btn-sm btn-danger">Pay</b></b></div>
            <div>{{f.mobile}}</div>
        </div>
        </a>
        {% farmer_bill_detail f.id %}
    </div>
    <br><br>
    {% endfor %}
    {% for f  in compleated_farmer %}
    <div class="farmer_box">
        <a href="{% url 'money_farmer_details' f.id %}">
        <div class="flex">
            <div><b>{{f.name}}  <b class="btn btn-sm btn-danger">Pay</b></b></div>
            <div>{{f.mobile}}</div>
        </div>
        </a>
        {% farmer_bill_detail f.id %}
    </div>
    <br><br>
    {% endfor %}
</div>

{% endblock content %}