{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
{% load static %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main_box{
        width: 8in;
        text-align: center;
        color: black;
        background-color: white;
        margin: 10px;
        padding: 40px;
        div{
            z-index: 1321231;
        }
    }
    .shope_name{
        text-transform: uppercase;
        z-index: 1;
        color: rgb(255, 0, 0);
        font-size: 30px;
        font-weight: 700;

    }
    .address{
        font-weight: 500;
        margin: 0 auto;
        font-size: 25px;
    }

    .flex{
        display: flex;
        justify-content: center;
    }
    .vehicale_number{
        text-transform: uppercase;
    }
    .contact_details{
        font-size: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid black;
    }
    .containt_box{
        font-size: 20px;
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        border-top: 1px solid black;
        background-image: url("{% static 'img/new_banana.jpg' %}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 400px;


        div{
            z-index: 321321;
        }

        .div1{
            display: flex;
            align-items: center;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            text-align: start;
            padding-left: 10px;
            height: 40px;
        }
        .div2{
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            height: 40px;
            font-weight: 700;
        }
        .detail{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 1;
            text-align: center;
        }
        img{
            position: absolute;
            opacity: 0.5;
            width: 400px;
            z-index: -533;
        }
    }
    #total_amount_words{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        padding: 5px;

    }
    .logo_img{

        width: 100px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    </style>

    <div class="container">
    <div style="background-color: white;padding: 100px;">
        <div class="main_box" id="canvas">

        <div class="text-center"><h5>शेतकरी खरेदी पावती</h5></div>

        <div class="" style="position: relative;" >
            <div class="logo_img" id="logo_img" style="position: absolute;left: 0;top: 0;"><img src="{{logo.image.url}}" alt=""></div>
            <div class="shope_name " >{{e.shope.shope_name}}</div>
        </div>

        <div class="address"><p>{{e.shope.address}}</p></div>
        <div class="contact_details"><b>{{e.shope.contact_details}}</b></div>
        <div class="flex p-2 " style="justify-content: space-between;">
            <div>बिल नं. &nbsp;<b>{{bill.bill_number}}</b></div>

            <div id="date_box2">दिनांक &nbsp; {{bill.date | date:'d-m-y'}}</div>
            <div class="vehicale_number">गाडी नंबर  {{bill.vehicale_number}}</div>
        </div>
        <div class="flex p-2" style="font-size: 20px; flex-wrap: wrap; justify-content: space-between; ">
            <div>शेतकऱ्याचे नाव  <b> {{bill.farmer.name}}</b></div>
            <div><b>मोबा.नं. {{bill.farmer.mobile}}</b></div>
        </div>
        <div>{{bill.farmer.address}}</div>
        
        <div class="containt_box">
            
            <div class="div1 detail">तपशील</div>
            
            <div class="div1" {% if bill.total_vehicale_weight == 0 %}style="display: none;"{% endif %}>गाडीचे एकुण वजन</div>
            <div class="div2" {% if bill.total_vehicale_weight == 0 %}style="display: none;"{% endif %}>{{bill.total_vehicale_weight}}</div>
            
            <div class="div1"  {% if bill.empty_vehicale_weight == 0 %}style="display: none;"{% endif %}>रिकाम्या गाडीचे वजन</div>
            <div class="div2"  {% if bill.empty_vehicale_weight == 0 %}style="display: none;"{% endif %}>{{bill.empty_vehicale_weight}}</div>
            
            <div class="div1" {% if bill.weight == 0 %}style="display: none;"{% endif %}>मालाचे वजन </div>
            <div class="div2" {% if bill.weight == 0 %}style="display: none;"{% endif %}>{{bill.weight}}</div>
            
            <div class="div1" {% if bill.empty_box == 0 %}style="display: none;"{% endif %}>मोकळे बॉक्स वजा </div>
            <div class="div2" {% if bill.empty_box == 0 %}style="display: none;"{% endif %}>{{bill.empty_box}}</div>
            
            <div class="div1" {% if bill.leaf_weight == 0 %}style="display: none;"{% endif %}>पाल्याचे वजन (वजा)</div>
            <div class="div2" {% if bill.leaf_weight == 0 %}style="display: none;"{% endif %}>{{bill.leaf_weight}}</div>
            
            <div class="div1" id="empty_box_weight1" {% if bill.leaf_weight == 0 and bill.empty_box == 0 %}style="display: none;"{% endif %}>मालाचे वजन </div>
            <div class="div2" id="empty_box_weight2" {% if bill.leaf_weight == 0 and bill.empty_box == 0 %}style="display: none;"{% endif %}>{{empty_box_weight}}</div>
            
            <div class="div1" {% if bill.wasteage == 0 %}style="display: none;"{% endif %}>वेस्टेज </div>
            <div class="div2" {% if bill.wasteage == 0 %}style="display: none;"{% endif %}>{{bill.wasteage}}</div>
            
            <div class="div1" {% if bill.wasteage == 0 %}style="display: none;"{% endif %}>मालाचे वजन </div>
            <div class="div2" {% if bill.wasteage == 0 %}style="display: none;"{% endif %}>{{wasteage_weight}}</div>
            
            <div class="div1">दांडा वजन </div>
            <div class="div2">{{danda_weight}}</div>
            
            <div class="div1">एकुण मालाचे वजन </div>
            <div class="div2">{{total_weight}}</div>
            
            <div class="div1">दर </div>
            <div style="font-weight: 700; color: red;" class="div2">{{bill.prise}}</div>
            
            <div class="div1">रक्कम </div>
            <div class="div2">{{amount}}</div>
            
            <div {% if bill.labor_amount == 0 %}style="display: none;"{% endif %} class="div1">लेबर वजा </div>
            <div {% if bill.labor_amount == 0 %}style="display: none;"{% endif %} style="font-weight: 700; color: red;"  class="div2">{{bill.labor_amount}}</div>
            
            <div style="font-weight: 700;background-color: rgb(212, 249, 255);" class="div1 mb-3">एकुण रक्कम </div>
            <div style="font-weight: 700;background-color: rgb(212, 249, 255);" id="total_amount" class="div2 mb-3">{{bill.total_amount}}</div>
        </div>

        <div id="total_amount_words">{{total_amount_words}}</div>
        <div style="width: fit-content;margin-right: auto;">
            <div class="text-center">
                <div><img style="width: 100px;" src="{{signature.image.url}}" alt=" "></div>
                <div>{{e.shope.shope_name}}</div>
            </div>
        </div>

        <div class="text-center mt-3">
            <h6><a href="https://bookkaryalay.com/contact_us/" style="text-decoration: none;color: black;">सर्व प्रकारचे बारकोड व बिलिंग सॉफ्टवेअर तयार करून मिळतील &nbsp; PRASANNA DIGITAL - 9730991252</a></h6>
        </div>
        </div>

    

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
var pdf = document.getElementById("canvas");



html2canvas(pdf).then((canvas) => {
    const base64image = canvas.toDataURL("image/jpeg");
    var anchor  = document.createElement("a");
    anchor.setAttribute("href", base64image);
    anchor.setAttribute("download", '{{bill.farmer.name}} '+ new Date().toLocaleString() +' .jpeg');
    anchor.click();
    window.location.href = "{% url 'view_farmer_bill' bill.id %}";

})
</script>
{% endblock content %}