{% extends 'home/base.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js" integrity="sha512-pdCVFUWsxl1A4g0uV6fyJ3nrnTGeWnZN2Tl/56j45UvZ1OMdm9CIbctuIHj+yBIRTUUyv6I9+OivXj4i0LPEYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock head %}
{% block content %}
{% include 'include/alert.html' %}
{% load static %}
<div class="hide">


    <div>
        welcome - {{e.name}}
    </div>
    {% include 'include/office/office_menu.html' %}
</div>
<style media="print">
    .hide{
        display: none;
    }
</style>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .main_box{

        margin:  0 auto;
        text-align: center;
        color: black;
        div{
            z-index: 1321231;
        }
    }
    .shope_name{
        text-transform: uppercase;
        z-index: 1;
        color: rgb(255, 0, 0);
        font-size: 30px;
        font-weight: 700;

    }
    .address{
        font-weight: 500;
        margin: 0 auto;
        font-size: 25px;
    }

    .flex{
        display: flex;
        justify-content: center;
    }
    .vehicale_number{
        text-transform: uppercase;
    }
    .contact_details{
        font-size: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid black;
    }
    .containt_box{
        font-size: 20px;
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        border-top: 1px solid black;
        background-image: url("{% static 'img/new_banana.jpg' %}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 400px;


        div{
            z-index: 321321;
        }

        .div1{
            display: flex;
            align-items: center;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            text-align: start;
            padding-left: 10px;
            height: 40px;
        }
        .div2{
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            height: 40px;
            font-weight: 700;
        }
        .detail{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 1;
            text-align: center;
        }
        img{
            position: absolute;
            opacity: 0.5;
            width: 400px;
            z-index: -533;
        }
    }
    #total_amount_words{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        padding: 5px;

    }
    .logo_img{
        background-color: aqua;
        width: 100px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    </style>

    <div class="container">
    <div>
        

        <div class="text-center hide">
            <!-- <button class="btn btn-success" onclick="createPDF()">download pdf</button> -->
            <a href="/office/generate_farmer_bill_image/{{bill.id}}" class="btn btn-primary" onclick="createimage()">डाउनलोड पावती</a>
        </div>



        
        <div class="main_box" id="canvas">

        <div class="text-center"><h5>शेतकरी खरेदी पावती</h5></div>

        <div class="" style="position: relative;" >
            <div class="logo_img" id="logo_img" style="position: absolute;left: 0;top: 0; display: none;"><img src="{{logo.image.url}}" alt=""></div>
            <div class="shope_name " >{{e.shope.shope_name}}</div>
        </div>

        <div class="address"><p>{{e.shope.address}}</p></div>
        <div class="contact_details"><b>{{e.shope.contact_details}}</b></div>
        <div class="flex p-2 " style="justify-content: space-between;">
            <div>बिल नं. &nbsp;<b>{{bill.bill_number}}</b></div>

            <div id="date_box1"><input onchange="save_date_farmer_bill(),location.reload()" style="border: none;" type="date" value="{{bill.date |date:'Y-m-d' }}" max="{{date_today|date:'Y-m-d'}}" name="date" id="date"></div>
            <div id="date_box2" style="display: none;">दिनांक &nbsp; {{bill.date | date:'d-m-y'}}</div>
            <div class="vehicale_number">गाडी नंबर  {{bill.vehicale_number}}</div>
        </div>
        <div class="flex p-2" style="font-size: 20px; flex-wrap: wrap; justify-content: space-between; ">
            <a href="/office/money_farmer_details/{{bill.farmer.id}}" style="color: black;text-decoration: none;"><div>शेतकऱ्याचे नाव  <b> {{bill.farmer.name}}</b></div></a>
            <div><b>मोबा.नं. {{bill.farmer.mobile}}</b></div>
        </div>
        <div>{{bill.farmer.address}}</div>
        
        <div class="containt_box">
            
            <div class="div1 detail">तपशील</div>
            
            <div class="div1" {% if bill.total_vehicale_weight == 0 %}style="display: none;"{% endif %}>गाडीचे एकुण वजन</div>
            <div class="div2" {% if bill.total_vehicale_weight == 0 %}style="display: none;"{% endif %}>{{bill.total_vehicale_weight}}</div>
            
            <div class="div1"  {% if bill.empty_vehicale_weight == 0 %}style="display: none;"{% endif %}>रिकाम्या गाडीचे वजन</div>
            <div class="div2"  {% if bill.empty_vehicale_weight == 0 %}style="display: none;"{% endif %}>{{bill.empty_vehicale_weight}}</div>
            
            <div class="div1" {% if bill.weight == 0 %}style="display: none;"{% endif %}>मालाचे वजन </div>
            <div class="div2" {% if bill.weight == 0 %}style="display: none;"{% endif %}>{{bill.weight}}</div>
            
            <div class="div1" {% if bill.empty_box == 0 %}style="display: none;"{% endif %}>मोकळे बॉक्स वजा </div>
            <div class="div2" {% if bill.empty_box == 0 %}style="display: none;"{% endif %}>{{bill.empty_box}}</div>
            
            <div class="div1" {% if bill.leaf_weight == 0 %}style="display: none;"{% endif %}>पाल्याचे वजन (वजा)</div>
            <div class="div2" {% if bill.leaf_weight == 0 %}style="display: none;"{% endif %}>{{bill.leaf_weight}}</div>
            
            <div class="div1" id="empty_box_weight1" {% if bill.leaf_weight == 0 and bill.empty_box == 0 %}style="display: none;"{% endif %}>मालाचे वजन </div>
            <div class="div2" id="empty_box_weight2" {% if bill.leaf_weight == 0 and bill.empty_box == 0 %}style="display: none;"{% endif %}>{{empty_box_weight}}</div>
            
            <div class="div1" {% if bill.wasteage == 0 %}style="display: none;"{% endif %}>वेस्टेज </div>
            <div class="div2" {% if bill.wasteage == 0 %}style="display: none;"{% endif %}>{{bill.wasteage}}</div>
            
            <div class="div1" {% if bill.wasteage == 0 %}style="display: none;"{% endif %}>मालाचे वजन </div>
            <div class="div2" {% if bill.wasteage == 0 %}style="display: none;"{% endif %}>{{wasteage_weight}}</div>
            
            <div class="div1">दांडा वजन </div>
            <div class="div2">{{danda_weight}}</div>
            
            <div class="div1">एकुण मालाचे वजन </div>
            <div class="div2">{{total_weight}}</div>
            
            <div class="div1">दर </div>
            <div style="font-weight: 700; color: red;" class="div2">{{bill.prise}}</div>
            
            <div class="div1">रक्कम </div>
            <div class="div2">{{amount}}</div>
            
            <div {% if bill.labor_amount == 0 %}style="display: none;"{% endif %} class="div1">लेबर वजा </div>
            <div {% if bill.labor_amount == 0 %}style="display: none;"{% endif %} style="font-weight: 700; color: red;"  class="div2">{{bill.labor_amount}}</div>
            
            <div style="font-weight: 700;background-color: rgb(212, 249, 255);" class="div1 mb-3">एकुण रक्कम </div>
            <div style="font-weight: 700;background-color: rgb(212, 249, 255);" id="total_amount" class="div2 mb-3">{{bill.total_amount}}</div>
        </div>

        <div id="total_amount_words">{{total_amount_words}}</div>
        <div style="width: fit-content;margin-right: auto;">
            <div class="text-center">
                <div><img style="width: 100px;" src="{{signature.image.url}}" alt=" "></div>
                <div>{{e.shope.shope_name}}</div>
            </div>
        </div>

        <div class="text-center mt-3">
            <h6><a href="https://bookkaryalay.com/contact_us/" style="text-decoration: none;color: black;">सर्व प्रकारचे बारकोड व बिलिंग सॉफ्टवेअर तयार करून मिळतील &nbsp; PRASANNA DIGITAL - 9730991252</a></h6>
        </div>
        </div>

    

</div>

<br>

<!------------------------------------- ------------------------------------------->

<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    


<script>
    function save_date_farmer_bill(){
        date = document.getElementById('date').value;
        $.ajax({
            type: 'GET',
            url: '{% url "save_date_farmer_bill" %}',
            data: {
                'date': date,
                'bill_id': '{{bill.id}}'
            },
            success: function(response){
                console.log(response)
            }
        })
    }


        function check_bank_amount(input_id, btn_id,pending_amount){
        input = document.getElementById(input_id).value
        if(Number(input) > 0){
            document.getElementById(btn_id).style.display = 'unset'
        }
        if(Number(input) < 1){
            document.getElementById(btn_id).style.display = 'none'
        }
        if(Number(input) > Number(pending_amount)){
            document.getElementById(btn_id).style.display = 'none'
            input = document.getElementById(input_id).value = ''
        }
        if(Number(input) < 0){
            document.getElementById(btn_id).style.display = 'none'
            input = document.getElementById(input_id).value = ''
        }
    }
    function check_phonepe_amount(input_id, btn_id,pending_amount){
        input = document.getElementById(input_id).value
        if(Number(input) > 0){
            document.getElementById(btn_id).style.display = 'unset'
        }
        if(Number(input) < 1){
            document.getElementById(btn_id).style.display = 'none'
        }
        if(Number(input) > Number(pending_amount)){
            document.getElementById(btn_id).style.display = 'none'
            input = document.getElementById(input_id).value = ''
        }
        if(Number(input) < 0){
            document.getElementById(btn_id).style.display = 'none'
            input = document.getElementById(input_id).value = ''
        }
    }

function check_cash_amount(pending_amount){
        input = document.getElementById('cash_amount').value
        if(Number(input) > 0){
            document.getElementById('cash_btn').style.display = 'unset'
        }
        if(Number(input) < 1){
            document.getElementById('cash_btn').style.display = 'none'
        }
        if(Number(input) > Number(pending_amount)){
            document.getElementById('cash_btn').style.display = 'none'
            input = document.getElementById('cash_amount').value = ''
        }
        if(Number(input) < 0){
            document.getElementById('cash_btn').style.display = 'none'
            input = document.getElementById('cash_amount').value = ''
        }

    }

/////////////////////////////////////////////////////////////////////

function createPDF() {
document.getElementById('logo_img').style.display = 'unset'
document.getElementById('date_box1').style.display = 'none'
document.getElementById('date_box2').style.display = 'unset'

var pdf = document.getElementById("canvas");
var opt = {
    margin: 0.5,
    filename: '{{bill.farmer.name}} '+ new Date().toLocaleString() +' .pdf',
    image: { type: 'jpeg', quality: 50 },
    html2canvas: { scale: 2 },
    jsPDF: { unit: 'in', format: 'a4', orientaion: 'portrait' }
};
html2pdf().set(opt).from(pdf).save().then(function(){
    document.getElementById('logo_img').style.display = 'none'
    document.getElementById('date_box2').style.display = 'none'
    document.getElementById('date_box1').style.display = 'unset'
});
}
////////////////////////


function createimage() {
document.getElementById('logo_img').style.display = 'unset'
document.getElementById('date_box1').style.display = 'none'
document.getElementById('date_box2').style.display = 'unset'

var canvas = document.getElementById("canvas");

var imageWidth = 800;  // You can customize this value
var imageHeight = 600; // You can customize this value

  // Set the canvas size to the desired image size
  canvas.width = imageWidth;
  canvas.height = imageHeight;

domtoimage.toJpeg(canvas).then((data)=>{
            var link =  document.createElement("a");
            link.download = '{{bill.farmer.name}} '+ new Date().toLocaleString() +' .jpeg';
            link.href = data;
            link.click();
            document.getElementById('logo_img').style.display = 'none'
    document.getElementById('date_box2').style.display = 'none'
    document.getElementById('date_box1').style.display = 'unset'
        });
}

</script>
{% endblock content %}