<style>
    .menu{
        display: flex;
        width: 100%;
        overflow: scroll;
        gap: 10px;
    }
</style>
{% load office_tag %}
{% load static %}
{% check_shop_payment e.shope_id as check_shop_payment %}
<div class="menu">
    <a  href="/office/office_home/"  class="my-1 {% if request.path == '/office/office_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/office/new_farmer_bill/"  class="my-1 {% if request.path == '/office/new_farmer_bill/' %}btn btn-warning{% else %}btn btn-primary{% endif %}" {% if check_shop_payment.status == 'disable' %} style="pointer-events: none;" {% endif %}>शेतकरी नवीन बिल</a>
    <a  href="/office/farmer_bill/" class="my-1 {% if request.path == '/office/farmer_bill/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">शेतकरी मागील बिल</a>
    <a  href="/office/farmer/" class="my-1 {% if request.path == '/office/farmer/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">शेतकरी</a>
    <a  href="/office/new_company_bill/" class="my-1 {% if request.path == '/office/new_company_bill/' %}btn btn-warning{% else %}btn btn-primary{% endif %}" {% if check_shop_payment.status == 'disable' %} style="pointer-events: none;" {% endif %}>कंपनी नवीन बिल</a>
    <a  href="/office/company_bill/" class="my-1 {% if request.path == '/office/company_bill/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">कंपनी मागील बिल</a>
    <a  href="/office/money/" class="my-1 {% if request.path == '/office/money/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">कंपनी पेमेंट</a>
    <a  href="/office/company/" class="my-1 {% if request.path == '/office/company/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">कंपनी</a>
    <a  href="/office/report/" class="my-1 {% if request.path == '/office/report/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Report</a>
    <a  href="/terms_and_conditions/" class="my-1 {% if request.path == '/terms_and_conditions/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">अटी व शर्ती</a>
    <a  href="/office/add_employee/" class="my-1 {% if request.path == '/office/add_employee/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">कर्मचारी</a>
    <a  href="/office/profile/" class="my-1 {% if request.path == '/office/profile/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">प्रोफाइल</a>
    <a  href="/office/logo/" class="my-1 {% if request.path == '/office/logo/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">लोगो</a>
    <a  href="/office/signature/" class="my-1 {% if request.path == '/office/signature/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">स्वाक्षरी</a>
    <a  href="/office/softwar_charges/" class="my-1 {% if request.path == '/office/softwar_charges/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">सॉफ्टवेअर चार्ज</a>
    <a href="/office_logout/" class="btn btn-danger my-1">Logout</a>
</div>

{% if check_shop_payment.status == 'show_worning' or check_shop_payment.status == 'disable' %}
<div class="container">
    <div class="alert alert-danger" style="padding: 10px; width: fit-content; text-align: center;">तुमचे {{check_shop_payment.last_month|date:'M'}} महिन्याचे सॉफ्टवेर चार्जेस बाकी आहेत  <a id="rzp-button1" class="btn btn-success btn-sm ms-3"><b>Pay Now</b></a></div>
</div>
{% endif %}

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById('rzp-button1').addEventListener("click", async function(){
        $.ajax({
            url: "{% url 'create_payment' %}",
            method: "GET",
            data:{
                shope:'{{e.shope.id}}',
                amount:500
            },
            success: function(data){
                var options = {
                    "key": data.razorpay_key_id,
                    "amount": data.amount,
                    "currency": "INR",
                    "name": "Banana", //your business name
                    "description": `Banana Billing Payment`,
                    "image": "{% static 'img/logo.png' %}",
                    "order_id": data.order_id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "callback_url": data.razorpay_callback_url,
                    "prefill": { 
                        "name": "{{e.name}}", 
                        "email": "Banana@gmail.com",
                        "contact": "{{e.mobile}}" 
                    },
                    "notes": {
                        "Shope Name": 'Banana - {{e.shope.shope_name}}'
                    },
                    "theme": {
                        "color": "#fffb03"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            }
        })

    })
</script>
